################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PcOptimize_v2/.vs/PcOptimize_v2/v15/Server/sqlite3
